{% extends 'base.html' %}
{% block con %}

{% load mathfilters %}
    <div class="container mt-5 mb-5">
        <h1><b>{{ t.subject }}</b></h1>
        <div class="row mt-5">
            <div class="col-lg-9">
                <textarea class="form-control" style="height: 230px; font-size: 20; font-weight: bold;" disabled>{{ t.content }}</textarea>
            </div>
            <div class="col-lg-3">
                <img src="{{ t.maker.getpic }}" width="100%">
                <div class="text-center mt-3">
                    <b>{{ t.maker }}</b>
                </div>
            </div>
        </div>
        <hr>

        {% if user in t.voter.all %}
            <form method="post", action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}
                        <div class="col-lg-4 text-center mb-3">
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.choicer.count |div:t.voter.count|mul:100 }}%">{{ i.choicer.count |div:t.voter.count|mul:100 | floatformat:2 }}%</div>
                            </div>
                            <img src="{{ i.pic.url }}" width="100%">
                            <h5 class="mt-3"><b>{{ i.name }}</b></h5>
                            <textarea class="form-control" style="font-size: 15px; font-weight: bold;" disabled>{{ i.con }}</textarea>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-end mt-4">
                    <a href="{% url 'vote:cancel' t.id %}" class="btn btn-danger btn-lg">투표취소</a>
                </div>
            </form>
        {% else %}
            <form method="post", action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}
                        <div class="col-lg-4 text-center mb-3">
                            <input name="cho" value="{{ i.id }}" class="form-check-input mb-3" type="radio" value="" {% if forloop.first %} checked {% endif %}>
                            <img src="{{ i.pic.url }}" width="100%">
                            <h5 class="mt-3"><b>{{ i.name }}</b></h5>
                            <textarea class="form-control" style="font-size: 15px; font-weight: bold;" disabled>{{ i.con }}</textarea>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-end mt-4">
                    <button class="btn btn-dark btn-lg">선택</button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}